header{
  background-color: white;
  border-bottom: black 1px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container{
  margin:10px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.title{
  cursor: pointer;
  padding: 10px 20px;
  margin: 0;
}
