<div class="container">
  <h1>Delivery Information</h1>
  <ng-container *ngIf="!isEdit; else form">
    <div>
      <p class="title">Name</p>
      <h3 class="text"><strong>{{delivery.name}}</strong></h3>
    </div>
    <div>
      <p class="title">Address</p>
      <h3 class="text">{{delivery.address}}</h3>
    </div>
    <div class="actions">
      <a routerLink="/" class="button b-transparent">Back</a>
      <button class="button b-red" (click)="setEdit()">Edit</button>
    </div>
  </ng-container>

  <ng-template #form>
    <app-delivery-form [delivery]="delivery" (emitCancel)="cancelEdit()" (emitDelivery)="saveEdit($event)"></app-delivery-form>
  </ng-template>

</div>
